<!--NAV SECTION -->
<header id="header-nav" role="banner">
    <div id="navbar" class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><i class="fa fa-flask color-red"></i>COLOI</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav flot-nav">
                <li><a href="#slide-head"><i class="fa fa-home color-red"></i> Home</a></li>
                <li><a href="#about-section"><i class="fa fa-wrench color-brown"></i> About Us</a></li>
                <li><a href="#services-section"><i class="fa fa-check color-green"></i> Services</a></li>
                <li><a href="#portfolio-section"><i class="fa fa-picture-o color-light-blue"></i> Portfolio</a></li>
                <li><a href="#pricing-section"><i class="fa fa-plane color-blue"></i> Pricing</a></li>
                <li><a href="#contact-section"><i class="fa fa-tint"></i> Contact</a></li>
            </ul>
        </div>
    </div>
</header>
<!--END NAV SECTION -->
<!--SLIDE CAROUSEL SECTION -->
<section id="slide-head" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>I Am  Awesome</h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien.<br>
                        <a href="#" class="btn btn-success btn-lg margin-top-20">Get This Awesome</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- ./ first active div-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Grap Now or Never</h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien.<br>
                        <a href="#" class="btn btn-primary btn-lg margin-top-20">Download Now</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- ./ Second div-->
    </div>
    <a class="prev" href="#slide-head" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="next" href="#slide-head" data-slide="next"><i class="fa fa-angle-right"></i></a>
</section>
<!--END SLIDE CAROUSEL SECTION -->
<!--ABOUT SECTION -->
<section id="about-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">
                <div class="text-center">
                    <h1><i class="fa fa-wrench small-icons bk-color-brown"></i>Meet Team</h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                     Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.

                    </p>
                </div>

            </div>
            <!-- ./ Heading div-->
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100  ">
                <div class="col-md-3 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                    <div class="text-center">
                        <p>
                            <img class="img-responsive img-thumbnail img-circle"  src="assets/img/team/team1.png" alt="">
                        </p>
                        <h3>Romiz Nopvok</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
                    <div class="text-center">
                        <p>
                            <img class="img-responsive img-thumbnail img-circle" src="assets/img/team/team2.jpg" alt="">
                        </p>
                        <h3>Jhon Deo</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
                    <div class="text-center">
                        <p>
                            <img class="img-responsive img-thumbnail img-circle" src="assets/img/team/team1.png" alt="">
                        </p>
                        <h3>Mark Kimza</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s">
                    <div class="text-center">
                        <p>
                            <img class="img-responsive img-thumbnail img-circle"  src="assets/img/team/team2.jpg" alt="">
                        </p>
                        <h3>Nopen Riox</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./ Content div-->
        </div>
    </div>
</section>
<!--END ABOUT SECTION -->
