<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Free Bootstrap COLOI Multipurpose Template</title>
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--PRETTYPHOTO MAIN STYLE -->
    <link href="assets/css/prettyPhoto.css" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--NAV SECTION -->
    <header id="header-nav" role="banner">
        <div id="navbar" class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><i class="fa fa-flask color-red"></i>COLOI</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav flot-nav">
                    <li><a href="#slide-head"><i class="fa fa-home color-red"></i> Home</a></li>
                    <li><a href="#about-section"><i class="fa fa-wrench color-brown"></i> About Us</a></li>
                    <li><a href="#services-section"><i class="fa fa-check color-green"></i> Services</a></li>
                    <li><a href="#portfolio-section"><i class="fa fa-picture-o color-light-blue"></i> Portfolio</a></li>
                    <li><a href="#pricing-section"><i class="fa fa-plane color-blue"></i> Pricing</a></li>
                    <li><a href="#contact-section"><i class="fa fa-tint"></i> Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!--END NAV SECTION -->
    <!--SLIDE CAROUSEL SECTION -->
    <section id="slide-head" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>I Am  Awesome</h1>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien.<br>
                            <a href="#" class="btn btn-success btn-lg margin-top-20">Get This Awesome</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./ first active div-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Grap Now or Never</h1>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien.<br>
                            <a href="#" class="btn btn-primary btn-lg margin-top-20">Download Now</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./ Second div-->
        </div>
        <a class="prev" href="#slide-head" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="next" href="#slide-head" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </section>
    <!--END SLIDE CAROUSEL SECTION -->
  
